<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Benvingut!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/img/background.png" class="background-img" />

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h1 id="debug-field" style="color:white;"> {{ variable }} </h1>
  <div class="ion-text-justify" id="data">
    <ion-grid>
      <ion-row class="ion-align-items-center" id="title"> 
        <img [src]="img+'banner.png'" class="container logo">
      </ion-row>
    </ion-grid>
  </div>

  <div class="grid">
    <div [routerLink]="['/mis-pokes']" >
      <h5> Els meus Pokemons </h5>
      <img [src]="img+'pokeball.png'" class="menu-item">
    </div>
    <div [routerLink]="['/pokedex']">
      <h5> PokeDex </h5>
      <img [src]="img+'pokedex.png'" class="menu-item">
    </div>
    <div>
      <h5> Zones </h5>
      <img [src]="img+'zones.png'" class="menu-item">
    </div>
    <div>
      <h5> Tornejos </h5>
      <img id="vs" [src]="img+'vs.png'" style="filter: contrast(2) brightness(1.3); transform: scale(1.7);">


    </div>
  </div>
</ion-content>
