
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Benvingut!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <img src="assets/img/background.png" class="background-img" />
  <div class="ion-text-justify" id="data">
    <ion-grid>
      <ion-row class="ion-align-items-center" id="title"> 
        <img [src]="img+'banner.png'" class="container logo">
      </ion-row>
    </ion-grid>
  </div>

  <div class="grid">
    <div>
      <h5> Pokemon </h5>
      <img [src]="img+'pokeball.png'" class="menu-item">
    </div>
    <div>
      <h5> Zones </h5>
      <img [src]="img+'zones.png'" class="menu-item">
    </div>
    <div>
      <h5> Pokedex </h5>
      <img [src]="img+'pokedex.png'" class="menu-item">
    </div>
    <div>
      <h5> Combats </h5>
      <img [src]="img+'pokeball.png'" class="menu-item">
    </div>
  </div>
</ion-content>