<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PokeDex
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Busca" (ionInput)="searchPokemon($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cards">
  <img src="assets/img/fondoPokedex.png" class="background-img" />
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let pokemon of searchedPokemon">
        <ion-card class="pokemon-card" [routerLink]="['/pokemon', pokemon.id]">
          <ion-card-header>
            <ion-img 
              [src]="pokemon.image"
              [style.filter]="!pokemon.isCaught ? 'brightness(0%)' : 'none'">
            </ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              {{ pokemon.isCaught ? 'N.º ' + pokemon.id : '???' }}
            </ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase">
              <h6>{{ pokemon.isCaught ? pokemon.name : '---------' }}</h6>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
