<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cards">
  <ion-grid>
    <ion-row>
      <!-- Itera los Pokémon y coloca cada tarjeta en una columna -->
      <ion-col size="4" *ngFor="let pokemon of allPokemon;">
        <ion-card class="pokemon-card">
          <ion-card-header>
            <ion-img 
              [src]="pokemon.image"
              [style.filter]="!pokemon.isCaught ? 'brightness(0%)' : 'none'">
            </ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              {{ pokemon.isCaught ? 'N.º ' + pokemon.id : '???' }}
            </ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase">
              <h6>{{ pokemon.isCaught ? pokemon.name : '---------' }}</h6>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>