<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PokeDex
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Busca" (ionInput)="searchPokemon($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cards">
  <img src="assets/img/fondoPokedex.png" class="background-img" />
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let pokemon of searchedPokemon">
        <!-- Card for Not Caught Pokémon -->
        <ion-card class="pokemon-card" [routerLink]="['/pokemon', pokemon.id]" *ngIf="!pokemonCaught(pokemon)" [style.pointer-events]="'none'" >
          <ion-card-header>
            <ion-img 
              [src]="pokemon.image"
              [style.filter]="'brightness(0%)'">
            </ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              ???
            </ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase">
              <h6>---------</h6>
            </ion-card-title>
          </ion-card-content>
        </ion-card>

        <!-- Card for Caught Pokémon -->
        <ion-card class="pokemon-card" [routerLink]="['/pokemon', pokemon.id]" *ngIf="pokemonCaught(pokemon)">
          <ion-card-header>
            <ion-img 
              [src]="pokemon.image">
            </ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              N.º {{ pokemon.id }}
            </ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase">
              <h6>{{ pokemon.name }}</h6>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
