<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Zones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="zones-container">
    <!-- Placeholder cards while loading -->
    <ng-container *ngIf="loading">
      <div class="loading-card" *ngFor="let i of [1, 2, 3, 4]">
        <div class="loading-img"></div>
        <div class="loading-text"></div>
      </div>
    </ng-container>

    <!-- Zones cards when data is available -->
    <div class="zones-row" *ngIf="!loading">
      <div
        class="zone-card"
        *ngFor="let zone of zones; let i = index"
        [style.--animation-delay]="i * 0.1 + 's'"
        (click)="onZoneClick(zone)"
      >
        <img [src]="zone.image" alt="{{ zone.name }}" class="zone-img" />
        <div class="zone-overlay">
          <span>{{ zone.name }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
